body{
    text-align: center;
    padding-top:2%;
    font-family: 'Mukta', sans-serif;
    background-image: url("pixel-city.jpg");
    background-size: cover;
    color:red;
  }

  h2, h1{
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: color;
    animation-duration: 1s;

  }

  @keyframes color{
    from {
        color:red;
      }
    
      to {
        color:yellow;
      }
  }

  @keyframes bordercolor{
    from {
        border:solid 1px red;
      }
    
      to {
        border:solid 1px yellow;
      }
  }

  form{
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: bordercolor;
    animation-duration: 1s;
    border:solid 1px;
    height:40px;
    text-align: center;
    width:50%;
    padding:2%;
    box-shadow: 1px 1px 10px red;
}


label{
    font-size: 1.5em;
    color:rgb(255, 0, 0);
    margin-right:10px;
}

select{
    height:30px;
    color:rgb(255, 0, 0);
    font-size: 1.1em;
    margin-right:10px;
    background-color: black;
    border: solid 1px red;
    box-shadow: 1px 1px 10px red;
}

input{
    color:rgb(255, 0, 0);
    background-color: black;
    height:40px;
    width:20%;
    border: solid 1px red;
    box-shadow: 1px 1px 10px red;

}

#contenu{
    background-color: black;
    margin:0%0%0%5%;
    width:45%;
    padding:5%;
    text-align: justify;
    box-shadow: 1px 1px 10px red;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: bordercolor;
    animation-duration: 1s;
}

#contenu:hover{
    box-shadow: 1px 1px 20px red;
  
}
